{% extends 'base.html.twig' %}

{% block title %}
    WickedHeady - Administrator
{% endblock %}

{% block menu %}
    <a href="{{ path('admin_users') }}" class="list-group-item">Users</a>
    <a href="{{ path('admin_posts') }}" class="list-group-item">Posts</a> 
{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success pull-right" onclick="location.href='{{ path('post_new') }}';">Add Post</button><br /><br />
            </div>
            <div class="col-sm-12">

        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                <strong>Success!</strong> Indicates a successful or positive action.
            </div>
        {% endfor %}
        <table class="table table-striped">
            {% for p in posts %}
                <tr>
                    <td><a href="{{ path('admin_post', {'id': p.id}) }}">
                            {{p.title}}</a>  
                    </td>
                    <td>
                        <a href="{{ path('admin_user', {'id': p.user.id}) }}">{{p.user.username}}<a/>
                    </td>
                </tr>
            {% endfor %}
        </table>
            </div>
        </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
